name: Lint

on:
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'

      - name: Install dependencies
        run: npm install # Will fix it with ci , but for now install will work 

      - name: Run ESLint
        run: npm run lint
